.inputContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-itens: center;
    gap: 10px;
}

.inputAvatar {
    width: 50px;
    height: 50px;
    border-radius:50%;
}

.title {
    color: var(--primary);
    font-size: 30px;
    font-family: "Oswald", sans-serif;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: end;
    align-items: center;
    gap: 18px;
    margin-top: 16px;
}

.postButton {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: semi-bold;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
}

.postButton:hover {
    opacity:0.9;
}

.postButton:disabled {
    background-color: var(--primary-light);
    pointer-events:none;
}

.tweetList {
    list-style-type: none;
    margin: 32px 0;
    padding: 0;
}

.tweetListItem {
    padding: 16px 0;
}

.tweetListItem:not(:last-child) {
    border-bottom: 1px solid var(--border);
}